*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
  font-size: 18px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}


h1{
    font-family: Poppins;
    font-weight: 600px;
}



.container{
  background-image: url(images/project/bg-hero-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
}


.heading{
  padding: 5%;
}


.paragraph-1{
  padding: 7px 55px;
  border-radius: 20px;
  border: solid white;
  background-color: white;
  font-weight: bold;
}

.second-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


.main-container{
  display: flex;
  justify-content: space-between;
  margin-bottom: 45px;
}



.second-paragraph{
  display: flex;
  justify-content: center;
}


.first-h1{
  margin-bottom: 30px;
}


.paragraph-2{
  margin-bottom: 30px;
}


.image-2{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 450px;
}



.build{
  display: flex;
  flex-direction: column;
  width: 50%;
  position: relative;
  top: 100px;
}


.btn{
  width: 240px;
  border-color: rgb(253, 82, 193);
  border-radius: 50px;
  padding: 14px 42px;
  position: relative;
  background-color: rgb(253, 82, 193);
  color: white;
  font-weight: bold;
}



/* The Main page, first Box */
.container-2{
    border: none;
    box-shadow: 0px 0px 1px 5px whitesmoke;
    margin-bottom: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.5% 3% 3% 8%;
    flex-wrap: wrap;
}


.row p{
  color: hsl(208, 11%, 55%);
}


.gt{
  width: 50%;
}


.image-3{
  width: 100%;
  padding: 30px;
}


/* Second Box */
.fc{
  width: 100%;
  padding: 30px;
}


.image-4{
  width: 100%;
}


/* Third Box */
.yu{
  width: 10%;
}


.image-5{
  width: 100%;
}


/* Last Box */
.container-3{
    border: none;
    box-shadow: 0px 0px 1px 5px whitesmoke;
    margin-bottom: 40px;
    border-radius: 10px;
    padding: 4% 6% 4% 6%;
    max-width: 100%;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    top: 90px;
    /* left: 200px; */
    background-color: white;
}




/* Footer container */
.btm{
  background-color: rgb(0, 37, 46);
  color: white;
  width: 100%;
}


.all{
  padding-top: 100px;
  margin-left: 80px;
  padding-bottom: 50px;
}




.second-logo{
  background-color: gray;
  width: 21%;
}


.footer-elements{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


.lcn{
  margin-right: 18px;
}


.first-grp{
  margin-top: 20px;
}

.group2{
  margin-top: 20px;
}

.group3{
  margin-top: 20px;
}

.footer-img{
  margin-top: 10px;
}


.Lorem{
  display: flex;
}



.phone{
  display: flex;

}


.pin{
  margin-right: 18px;
}


.mail{
  display: flex;
}


.gmail{
  margin-right: 18px;
}


.awf{
  padding-bottom: 30px;
}


.log{
  height: 16px;
}

.cbc{
  padding-bottom: 30px;
}


.img{
  padding-right: 10px;
  width: 30px;
  height: 40px;
}



.Copyright{
  font-size: small;
  padding-top: 190px;
}




/* Extra-Extra-Large Devices */
/* @media (min-width:1400px){

    .col-xxl-1 {
        width: 8.33%;
      }
      .col-xxl-2 {
        width: 16.66%;
      }
      .col-xxl-3 {
        width: 25%;
      }
      .col-xxl-4 {
        width: 33.33%;
      }
      .col-xxl-5 {
        width: 41.66%;
      }
      .col-xxl-6 {
        width: 50%;
      }
      .col-xxl-7 {
        width: 58.33%;
      }
      .col-xxl-8 {
        width: 66.66%;
      }
      .col-xxl-9 {
        width: 74.99%;
      }
      .col-xxl-10 {
        width: 83.33%;
      }
      .col-xxl-11 {
        width: 91.66%;
      }
      .col-xxl-12 {
        width: 100%;
      }    
} */

/* Extra large Devices */
@media (min-width:376px){

    .col-xl-1 {
        width: 8.33%;
      }
      .col-xl-2 {
        width: 16.66%;
      }
      .col-xl-3 {
        width: 25%;
      }
      .col-xl-4 {
        width: 33.33%;
      }
      .col-xl-5 {
        width: 41.66%;
      }
      .col-xl-6 {
        width: 50%;
      }
      .col-xl-7 {
        width: 58.33%;
      }
      .col-xl-8 {
        width: 66.66%;
      }
      .col-xl-9 {
        width: 74.99%;
      }
      .col-xl-10 {
        width: 83.33%;
      }
      .col-xl-11 {
        width: 91.66%;
      }
      .col-xl-12 {
        width: 100%;
      }
      .body{
        padding: 7% 7% 0 7%;
      }
      .btm{
        padding: 7% 7% 7% 7%;
      }
    }


/* Large Devices */
/* @media (min-width:992px) and (max-width:1199px){

    .col-lg-1 {
        width: 8.33%;
      }
      .col-lg-2 {
        width: 16.66%;
      }
      .col-lg-3 {
        width: 25%;
      }
      .col-lg-4 {
        width: 33.33%;
      }
      .col-lg-5 {
        width: 41.66%;
      }
      .col-lg-6 {
        width: 50%;
      }
      .col-lg-7 {
        width: 58.33%;
      }
      .col-lg-8 {
        width: 66.66%;
      }
      .col-lg-9 {
        width: 74.99%;
      }
      .col-lg-10 {
        width: 83.33%;
      }
      .col-lg-11 {
        width: 91.66%;
      }
      .col-lg-12 {
        width: 100%;
      }    
} */


/* Medium Devices */
/* @media (min-width:768px) and (max-width:991px){
    .col-md-1 {
        width: 8.33%;
      }
      .col-md-2 {
        width: 16.66%;
      }
      .col-md-3 {
        width: 25%;
      }
      .col-md-4 {
        width: 33.33%;
      }
      .col-md-5 {
        width: 41.66%;
      }
      .col-md-6 {
        width: 50%;
      }
      .col-md-7 {
        width: 58.33%;
      }
      .col-md-8 {
        width: 66.66%;
      }
      .col-md-9 {
        width: 74.99%;
      }
      .col-md-10 {
        width: 83.33%;
      }
      .col-md-11 {
        width: 91.66%;
      }
      .col-md-12 {
        width: 100%;
      }    
} */


/* Small-Devices */
/* @media (min-width:576px) and (max-width:767px){

    .col-sm-1 {
        width: 8.33%;
      }
      .col-sm-2 {
        width: 16.66%;
      }
      .col-sm-3 {
        width: 25%;
      }
      .col-sm-4 {
        width: 33.33%;
      }
      .col-sm-5 {
        width: 41.66%;
      }
      .col-sm-6 {
        width: 50%;
      }
      .col-sm-7 {
        width: 58.33%;
      }
      .col-sm-8 {
        width: 66.66%;
      }
      .col-sm-9 {
        width: 74.99%;
      }
      .col-sm-10 {
        width: 83.33%;
      }
      .col-sm-11 {
        width: 91.66%;
      }
      .col-sm-12 {
        width: 100%;
      }    
} */


/* Extra-small */
@media (max-width:375px){

    .col-1 {
        width: 8.33%;
      }
      .col-2 {
        width: 16.66%;
      }
      .col-3 {
        width: 25%;
      }
      .col-4 {
        width: 33.33%;
      }
      .col-5 {
        width: 41.66%;
      }
      .col-6 {
        width: 50%;
      }
      .col-7 {
        width: 58.33%;
      }
      .col-8 {
        width: 66.66%;
      }
      .col-9 {
        width: 74.99%;
      }
      .col-10 {
        width: 83.33%;
      }
      .col-11 {
        width: 91.66%;
      }
      .col-12 {
        width: 100%;
      }  


      /* Styling for the Header Page */
     
      .build{
        font-size: medium;
        padding-bottom: 50%;
        display: flex;
      }

      .build p{
        color: hsl(208, 11%, 55%);
        font-size: small;
      }

      .main-container{
        width: 100%;
      }
      .main-container button{
        width: 40%;
        padding: 1%;
      }

      .main-container-img{
        width: 40%;
      }

      .main-container img{
        width: 70%;
      }

      .image-2{
        width: 100%;
        height: 100%;
      }

      /* Styling for the Main Page */
      .row .gt{
        order: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .row .fc{
        order: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .row .yu{
        order: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .body{
        padding: 8%;
      }

      .body img{
        margin-top: 45px;
      }

      .row{
        padding: 10% 9% 9% 10%;
      }

      .container-3 h1{
        font-size: larger;
      }


      /* Styling for the Footer */
      

      .btm{
        padding: 30% 4% 0 3%;
      }

      .second-logo{
        width: 100%;
      }

      .second-logo img{
        width: 50%;
      }
      
      .group2{
        padding-top: 35px;
      }

      .footer-img p{
        padding-bottom: 25px;
        text-align: center;
      }
      
      /*  */
      
      .header h1{
        font-size: xx-large;
      }

      .rbc h1{
        font-size: small;
        text-align: center;
      }
      
      .container-5 button{
        max-width: 90%;
      }

      .img-img{
        display: flex;
        justify-content: center;
        padding-top: 20px;
      }
      
      .Copyright{
        padding-top: 10px;
      }
    }